.reset-pass-container {
  width: 100%;

  .reset-pass-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .top-bar {
      width: 100%;
      background-color: white;

      .reset-pass-topbar {
        width: 98%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5px 0px;

        .top-bar-logo {
          img {
            width: 145px;
            height: 45px;
            object-fit: contain;
          }
        }

        .top-bar-login-area {
          form.login-form {
            display: flex;
            align-items: center;
            gap: 10px;

            input.login-input {
              padding: 7px 10px;
              border-radius: 6px;
              border: 1px solid #cccc;
              font-weight: 400;
              color: #5e6369;
              font-size: 15px;

              &:focus {
                outline: none;
              }

              &:hover {
                border: 1px solid rgb(150, 150, 150);
              }
            }

            input.sbmt-btn {
              background-color: #1877f2;
              border: none;
              padding: 7px 10px;
              color: white;
              font-weight: 500;
              border-radius: 6px;
            }

            a {
              font-weight: 300;
              font-size: 15px;
            }
          }
        }
      }
    }

    .reset-pass-area {
      width: 100%;
      height: 80vh;
      display: flex;
      justify-content: center;
      align-items: center;

      .reset-pass-body {
        width: 500px;
        height: 275px;
        background-color: white;
        border-radius: 10px;
        padding: 15px 15px 0px;

        .title {
        }
        .form-body {
          p {
            padding: 2px 0px 15px;
            font-weight: 400;
          }
          form {
            input.input-area {
              width: 100%;
              border-radius: 6px;
              border: 1px solid #ccc;
              padding: 12px 15px;
              margin-bottom: 10px;

              &:focus {
                outline: none;
                border: 1px solid #7777;
              }
            }

            .sbmt-btns {
              margin-top: 10px;
              display: flex;
              align-items: center;
              justify-content: flex-end;
              gap: 10px;

              .search {
                font-weight: 400;
                letter-spacing: 1px;
              }
              .cancel {
                background-color: #e2e2e2;
                color: rgb(116, 114, 114);
                font-weight: 400;
                letter-spacing: 1px;

                &:hover {
                  border: 1px solid #e2e2e2;
                }
              }
            }
          }
        }
      }
    }
  }
}
