// ============= post craete section start ================

.fb-news-feed-area {
  width: 100%;
  margin: 20px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .fb-create-post-area {
    display: flex;
    flex-direction: column;
    width: 80%;
    background-color: white;
    padding: 10px 0px;
    align-items: center;
    border-radius: 10px;
    justify-content: center;

    .post-area-top-part {
      display: flex;
      align-items: center;
      justify-content: center;
      // gap: 10px;

      img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
      }

      .fb-post-create-btn {
        background-color: #f0f2f5;
        color: #817e7e;
        width: 450px;
        border-radius: 50px;
        padding: 8px 14px;
        border: none;
        font-size: 17px;
        font-weight: 400;
        cursor: pointer;
        transition: 0.2s;

        &:hover {
          background-color: #c5c5c6;
        }
      }
    }

    .hr-line hr {
      width: 500px;
    }

    .post-area-down-part {
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: space-around;
      align-items: center;
      // gap: 40px;

      .post-area-icon-one {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        padding: 5px 25px;
        transition: 0.2s;

        &:hover {
          background-color: #f2f2f2;
          border-radius: 10px;
        }

        .icon-one {
          display: flex;
          color: #e73f5a;
          font-size: 25px;
        }

        span {
          color: #777777;
          font-size: 14px;
          font-weight: 500;
        }
      }

      .post-area-icon-two {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        padding: 5px 25px;
        transition: 0.2s;

        &:hover {
          background-color: #f2f2f2;
          border-radius: 10px;
        }

        .icon-two {
          display: flex;
          color: #41b35d;
          font-size: 25px;
        }

        span {
          color: #777777;
          font-size: 14px;
          font-weight: 500;
        }
      }

      .post-area-icon-three {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        padding: 5px 25px;
        transition: 0.2s;

        &:hover {
          background-color: #f2f2f2;
          border-radius: 10px;
        }

        // height: 30px;

        .icon-three {
          display: flex;
          color: #e4ac28;
          font-size: 25px;
        }

        span {
          color: #777777;
          font-size: 14px;
          font-weight: 500;
        }
      }
    }
  }
}

// ============= post craete section end ================

// ============= class room section start ================
.fb-create-room-area {
  display: flex;
  justify-content: space-between;
  width: 80%;
  background-color: white;
  margin: 15px 0px;
  border-radius: 10px;
  padding: 10px 10px;

  .room-icon {
    width: 150px;
    height: 40px;
    border: 2px solid #e6e6e6;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border-radius: 50px;
    transition: 0.3s;
    color: #b348ad;

    &:hover {
      background-color: #f0f2f5;
    }

    .icon {
      display: flex;
      font-size: 30px;
    }

    a {
      font-size: 15px;
    }
  }

  .fb-room-active-person-area {
    display: flex;
    gap: 10px;

    .active-persons {
      position: relative;

      img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
      }

      .active-status {
        width: 12px;
        height: 12px;
        background-color: #31a24c;
        position: absolute;
        right: 6px;
        bottom: -3px;
        border-radius: 50%;
        border: 2px solid white;
      }
    }
  }
}
// ============= class room section end ================
